/* Estilos generales */
body {
    background-color: #f5f5f5;
    color: #2c3e50;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #c5a572;  /* Dorado corporativo tipo Succession */
    margin-bottom: 30px;
}

/* Navegación */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    background-color: #2c3e50;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: #c5a572;
    color: black
}

/* Contenido principal */
main {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

h2 {
    color: #2c3e50;
    border-bottom: 2px solid #c5a572;
    padding-bottom: 10px;
}

h3 {
    color: #34495e;
}

/* Imágenes */
img {
    border: 3px solid #2c3e50;
    margin: 10px 0;
}

/* Enlaces */
a {
    color: #2c3e50;
}

a:hover {
    color: #c5a572;
}

/* Videos */
iframe {
    border: 3px solid #2c3e50;
    margin: 20px 0;
}

/* Pie de página */
footer {
    background-color: #1a1a1a;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
